*,
*:after,
*:before {
	box-sizing: border-box;
}

html,body {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

.list-heading {
    padding: 20px 15px 0 15px;
}
.col-4 {
  background-color: #DDD;
  width: 33.33%;
  border-right: 1px solid black;
    display:inline-block;
    padding: 4px;
}
#header {
    background-color: #4267b2;
    color: white;
    margin-bottom: 20px !important;
}
#wrapper {
  margin-top: 16px;
  margin-bottom: 16px;

}
#sidebar{
overflow:auto;
}

#main,
#menu,
#sidebar{
  height:600px;
    background-color: #e9ebee;
}
.white-text {
  color: white !important;
    font-size:15px;
}
#header ul .glyphicon {
    font-size: 15px;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
.image-post {
    margin-bottom: 15px;
}
#main {
    overflow: auto;
}
#main::-webkit-scrollbar {
    display: none;
}
.comment {
    margin: 0;

}
body { padding-top: 70px; }
/* Add Custom CSS Below this line */

